iframe {
  width: 1120px;
  height: 630px;
}

iframe:focus {
  outline: none;
}

.card-content {
  width: 1120px;
  height: 630px;
  overflow: hidden;
  position: relative;
}

.card-media img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1120px;
  height: auto;
  transform: translate(-50%, -50%);
  max-width: none;
}

.card-media {
  position: relative;
  overflow: hidden;
  width: 1120px;
  height: 630px;
}
